/*------------------Animacion index---------------------------*/
.ilustration {
    display: block;
    width: 80%;
    margin: 20px auto;
    position: absolute;
    z-index: 0;
}



/* Animación para mover las hojas en diagonal */
@keyframes moverDiagonal {
    0% { transform: translate(0, 0); }
    25% { transform: translate(50px, 50px); }
    50% { transform: translate(100px, 0); }
    75% { transform: translate(50px, -50px); }
    100% { transform: translate(0, 0); }
}

/* Animación para el bucle de las hojas */
@keyframes bucleHoja {
    0%, 100% { transform: unset; }
    50% { transform: scale(1.1); }
}

/* Aplicar animaciones a las hojas */
#hoja1 { animation: moverDiagonal 4s linear infinite alternate, bucleHoja 4s linear infinite; }
#hoja2 { animation: moverDiagonal 4s linear infinite alternate, bucleHoja 4s linear infinite; }
#hoja3 { animation: moverDiagonal 4s linear infinite alternate, bucleHoja 4s linear infinite; }
#hoja4 { animation: moverDiagonal 4s linear infinite alternate, bucleHoja 4s linear infinite; }
#hoja5 { animation: moverDiagonal 4s linear infinite alternate, bucleHoja 4s linear infinite; }
#hoja6 { animation: moverDiagonal 4s linear infinite alternate, bucleHoja 4s linear infinite; }
#hoja7 { animation: moverDiagonal 4s linear infinite alternate, bucleHoja 4s linear infinite; }
#hoja8 { animation: moverDiagonal 4s linear infinite alternate, bucleHoja 4s linear infinite; }
#hoja9 { animation: moverDiagonal 4s linear infinite alternate, bucleHoja 4s linear infinite; }
#hoja10 { animation: moverDiagonal 4s linear infinite alternate, bucleHoja 4s linear infinite; }
#hoja11 { animation: moverDiagonal 4s linear infinite alternate, bucleHoja 4s linear infinite; }
#hoja12 { animation: moverDiagonal 4s linear infinite alternate, bucleHoja 4s linear infinite; }
#hoja13 { animation: moverDiagonal 4s linear infinite alternate, bucleHoja 4s linear infinite; }
#hoja14 { animation: moverDiagonal 4s linear infinite alternate, bucleHoja 4s linear infinite; }

/* Ajuste de la posición para cada hoja */
#hoja1 { top: 20px; left: 20px; }
#hoja2 { top: 20px; left: 120px; }
#hoja3 { top: 20px; left: 220px; }
#hoja4 { top: 120px; left: 20px; }
#hoja5 { top: 120px; left: 120px; }
#hoja6 { top: 120px; left: 220px; }
#hoja7 { top: 220px; left: 20px; }
#hoja8 { top: 220px; left: 120px; }
#hoja9 { top: 220px; left: 220px; }
#hoja10 { top: 320px; left: 20px; }
#hoja11 { top: 320px; left: 120px; }
#hoja12 { top: 320px; left: 220px; }
#hoja13 { top: 420px; left: 20px; }
#hoja14 { top: 420px; left: 120px; }




  
  